<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Document</title>
    @using System.Linq
</head>

<body>
    <header>
        <div class="container">
            <img class="logo" src="~/images/aeri-logo.png" />
            <nav>
                <ul>
                    <li><a class="navlink" href="/">Home</a></li>
                    <li><a class="navlink" href="/About">About</a></li>
                    <li><a class="navlink" href="/Properties">Properties</a></li>
                    <li><a class="navlink" href="/FAQ">FAQ</a></li>
            </nav>
        </div>
    </header>
    <div id="main-section-one">
        <img class="foodone" src="~/images/BG5.jpg" alt="foodone">
        <div class="homeText">
            <h1>HOME PAGE UNDER CONSTRUCTION</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in erat laoreet,
                venenatis
                quam
                ut, ornare sem. Quisque ac scelerisque eros, a interdum quam. Vestibulum ornare consectetur velit non
                faucibus.
                Maecenas bibendum, lectus in vulputate condimentum, felis velit luctus ex, scelerisque tincidunt sapien
                nulla
                vel augue. Aenean suscipit, metus sit amet efficitur luctus, velit nibh fringilla magna, ac sodales
                felis
                sapien
                quis quam. Praesent maximus tempus massa, ut varius risus aliquet ut. Pellentesque ut nibh a purus
                porttitor
                pretium nec non ligula. Duis ac turpis venenatis, iaculis ipsum at, sagittis nibh.
            </p>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <h3>Kim's Footer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in erat laoreet, venenatis quam ut, ornare
                sem.</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><i
                            class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer"><i
                            class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"><i
                            class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><i
                            class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><i
                            class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 Aeri Jai Inc. Designed by <span>Song Kim</span></p>
        </div>
    </footer>
</body>

</html>
